* {
  box-sizing: border-box;
}

html,
body, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cover {
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: rgba(45,87,103,0.4);
}

.container {
    position: relative;
}

#map {
  position: absolute;
  top: 0;
  left:0;
  height: 40%;
  width: 40%;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}

#map.active {
  transform: translateY(0);
}

#pano {
  position: absolute;
  width: 100%;
  height: 100%;
}

.clock {
  position: absolute;
  bottom: 15%;
  padding: 1rem;
}

#autosuggest {
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    z-index: 101;
    transform:translateX(-150%);
    transition: transform 0.3s ease-in;
}

#autosuggest.active {
    transform: translateX(0);
}

#view-w3w {
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    z-index: 102;
    padding: 0.6rem 1.4rem;
    border: none;
    opacity: 0.4;
    background-color: green;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in;
}

#view-w3w.active {
    transform: translateX(145%);
}

#im-here {
  position: absolute;
  top:1rem;
  right:2rem;
  z-index: 100;
  padding: 1rem;
  border: 0.5px solid rgb(71, 64, 64);
  opacity:0.4;
  border-radius: 8px;
  font-size: 2rem;
  background-color: rgb(233, 35, 35);
}

#im-here:hover, #reset:hover, #view-map:hover, #view-w3w:hover { 
  opacity: 0.9;
}

#reset {
  position: absolute;
  bottom:1rem;
  left:2rem;
  z-index: 100;
  padding: 1rem;
  border: 0.5px solid rgb(233, 35, 35);
  opacity:0.4;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: rgb(71, 64, 64);
  color: rgb(233, 35, 35);
}

#view-map {
  position: absolute;
  top:1rem;
  left: 11rem;
  z-index: 101;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  opacity: 0.4;
  background-color: green;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in;
}

#view-map.active {
  transform: translateY(570%);
  
}

#info-panel {
  position: absolute;
  bottom:20%;
  left:10%;
  right:10%;
  top:20%;
  z-index: 200;
  background-color: slateblue;
  border-radius: 8px;
  transform:translateX(-150%);
  transition: transform 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#info-panel.active {
  transform: translateX(0);
}

.info-btn {
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.8rem;
  font-size: 1.2rem;
}

.red {
  background-color: red;
 
}

.green {
  background-color: green;

}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}