* {
  box-sizing: border-box;
}

html,
body, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
    position: relative;
}

#map {
  position: absolute;
  top: 0;
  left:0;
  height: 40%;
  width: 50%;
  z-index: 201;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}

#map.active {
  transform: translateY(0);
}

#pano {
  position: absolute;
  width: 100%;
  height: 100%;
}

.clock {
  position: absolute;
  bottom: 15%;
  padding: 1rem;
}

#autosuggest {
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    z-index: 101;
    transform:translateX(-150%);
    transition: transform 0.3s ease-in;
}

#autosuggest.active {
    transform: translateX(0);
}

#view-w3w {
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    z-index: 102;
    padding: 0.6rem 1.4rem;
    border: none;
    opacity: 0.4;
    background-color: green;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in;
    border-radius: 8px;
}

#view-w3w.active {
    transform: translateX(145%);
}

#im-here {
  position: absolute;
  top:1rem;
  right:2rem;
  z-index: 100;
  padding: 1rem;
  border: 0.5px solid rgb(71, 64, 64);
  opacity:0.4;
  border-radius: 8px;
  font-size: 2rem;
  background-color: rgb(233, 35, 35);
}

#im-here:hover, #reset:hover, #view-map:hover, #view-w3w:hover { 
  opacity: 0.9;
}

#reset {
  position: absolute;
  bottom:1rem;
  left:1rem;
  z-index: 100;
  padding: 1rem;
  border: 0.5px solid rgb(233, 35, 35);
  opacity:0.4;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: rgb(71, 64, 64);
  color: rgb(233, 35, 35);
}

#view-map {
  position: absolute;
  top:1rem;
  left: 1rem;
  z-index: 201;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  opacity: 0.4;
  background-color: green;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in;
}

#view-map.active {
  transform: translateY(700%);
  
}

#info-panel {
  position: absolute;
  bottom:20%;
  left:10%;
  right:10%;
  top:20%;
  z-index: 200;
  background-color: slateblue;
  border-radius: 8px;
  transform:translateX(-150%);
  transition: transform 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#info-panel.active {
  transform: translateX(0);
}

.info-btn {
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.8rem;
  font-size: 1.2rem;
}

.red {
  background-color: red;
 
}

.green {
  background-color: green;

}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hiding the google thingy */

.gm-control-active.gm-fullscreen-control, .gm-iv-address {
    display: none;
}


/* quiz styles */

.quiz-container {
    width: 100%;
    height: 100%;
    z-index: 300;
    background-color: rgba(45,87,103,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 117, 139);
    text-align: center;
}

.score {
    position: absolute;
    display: inherit;
    top: 2rem;
    right: 10%;
    width: 10%;
    height: 3.5rem;
    background-color: wheat;
    z-index: 150;
   text-align: center;
    font-size: 3rem;
}

.score.high-score {
    left: 10%;
}

.score h4 {
    font-size: 15px;
    transform: translateY(-100%);
}
.quiz-container .container {
    position: relative;
    /* width: 80%;
    height: 80%; */
    top:2rem;
    width: 80%;
    background-color: rgb(69, 130, 179);
    z-index: 100;
}

.question {
    margin: 2rem 1rem 0 1rem;
    padding: 1rem;
    font-size: 2rem;
    
}
.answers {
    /* padding: 1.5rem; */
}

span h3 {
    padding: 1.5rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: black 0.3 0.5;
}

span h3.answer-h3 {
    background-color: inherit;
}
/* 
.again, .nxt-rnd {
    background-color: rgb(21, 90, 30);
    padding: 0.5rem;
    border-radius: 12px;
} */

h3 {
    margin: 0;
}

.quiz-instructions {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 301;
    background-color: lavenderblush;
    padding:0.5rem;

}

#skip-quiz {
    position: absolute;
    top: 0;
    right: 0;
}

#hide {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    transition: transform 0.3s ease-in;
}


.hide-right {
    transform:translateX(100%);
}

.hidden {
    display: none;
}